<div class ="seller">
<div class = sign-up>
<h1> Seller Sign Up</h1>
</div>
<form  #sellersignup ="ngForm" (ngSubmit) = "signUp(sellersignup.value)" class ="common-form">

<input  class = "form-input" type="text" ngModel  name = "name"      placeholder=" Enter the Name" >
<input  class = "form-input" type="password" ngModel name = "password"  placeholder=" Enter the password" >
<input  class = "form-input" type="text" ngModel name = "email" placeholder=" Enter the Email" >
<button class = "form-button">Sign up</button>




</form>


</div>
